{
  "overrides": [
    {
      "files": ["./app/**/*.tsx", "./components/**/*.tsx"],
      "options": {
        "printWidth": 100,
        "quoteProps": "consistent",
        "semi": false,
        "singleQuote": true
      }
    }
  ]
}
